In [12]:
import numpy as np
import pandas as pd

In [13]:
# Sample data
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}

In [14]:
# Creating a DataFrame
df = pd.DataFrame(data)

In [15]:
data

{'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}

In [16]:
# Adding a new column
df['Country'] = ['USA', 'UK', 'Canada']

In [17]:
# Filtering data
filtered_data = df[df['Age'] > 28]

print(filtered_data)

      Name  Age Country
1      Bob   30      UK
2  Charlie   35  Canada